body {
    font-size: 15px;
    font-family: Montserrat;
    background: hsl(240, 78%, 98%);
}

h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    color: hsl(233, 13%, 49%);
    text-align: center;
}

/* ----- Colours ----- */

    .primary-background {
        background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    }

    .white-text > li {
        color: white
    }

    .white-background {
        background-color: white;
        color: hsl(237, 63%, 64%)
    }

/* ----- Toggle button ----- */

    .form-switch {
        display: inline-block;
    }

    .form-check {
        min-height: 0;
        margin-bottom: 0;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .form-check-input {
        background-color: hsl(236, 72%, 79%);
        border-color: hsl(236, 72%, 79%);
        margin-top: -15px;
    }

    .form-check-input:hover {
        cursor: pointer;
    }

    .form-check-input:active, .form-check-input:hover {
        filter: opacity(70%);
    }

    .form-check-input:checked {
        background-color: hsl(236, 72%, 79%);
        border-color: hsl(236, 72%, 79%) ;
    }

    .form-check > .form-check-input {
        float: none;
        height: 3em;
        width: 5em;
    }

    .form-switch :is(.form-check-input, .form-check-input:checked:focus:active) {
        --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        box-shadow: none;
    }

    .form-check-label {
        color: hsl(234, 14%, 74%);
        font-size: 1.5em;
    }

/* ----- Cards ----- */

    #cards {
        margin: auto;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .card {
        box-shadow: -1px 4px 19px 1px rgba(163,168,240,0.23);
        border-radius: 20px;
    }

    .card-type {
        padding-bottom: 1.8em;
    }

    .card-price {
        font-weight: bolder;
        font-size: 3.1em;
    }

    .list-group-item {
        background: transparent;
        color: hsl(232, 13%, 33%);
        font-size: 1.5em;
        padding: 1.5em;
    }

    .btn {
        margin-top: 10px;
        font-size: 1em;
        border-radius: 10px;
    }
    
    .primary-btn {
        border-color: hsl(236, 72%, 79%);
    }
    
    .primary-btn:hover, .primary-btn:active {
        background: transparent !important;
        border-color:hsl(237, 63%, 64%) !important;
        color: hsl(237, 63%, 64%) !important;
    }
    
    .white-btn {
        border-color: white;
    }
    
    .white-btn:hover, .white-btn:active {
        background: transparent !important;
        border-color: white !important;
    }

/* ----- Media Queries ----- */

    @media (min-width: 2100px) {
        .primary-card {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        #cards {
            width: 70%;
        }
        .card-price {
            font-size: 4em;
        }
    }

    @media (max-width: 2099px) {

        #cards {
            width: 90%;
        }
    }

    @media (max-width: 1650px) {
        #cards {
            width: 40%;
        }
    }

    @media (max-width: 1200px) {
        #cards {
            flex-direction: column;
            width: 70%;
        }
    }

    @media (max-width: 800px) {
        #cards {
            width: 90%;
        }
    }

.attribution {
    margin-top: 50px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }