body {
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 700;
    background: hsl(240, 78%, 98%);
}

.btn {
    margin-top: 10px;
    font-size: smaller;
    font-weight: bold;
}

.form-switch {
    display: inline-block;
}

.primary-btn {
    border-color: hsl(236, 72%, 79%);
}

.primary-btn:hover, .primary-btn:active {
    background: transparent !important;
    border-color:hsl(237, 63%, 64%) !important;
    color: hsl(237, 63%, 64%) !important;
}

.white-btn {
    border-color: white;
}

.white-btn:hover, .white-btn:active {
    background: transparent !important;
    border-color: white !important;
}

.card-title {
    padding-top: 20px;
    font-weight: bolder;
}

.list-group-item {
    background: transparent;
    color: hsl(232, 13%, 33%);
}

.container {
    height: 100vh;
}

.form-check {
    min-height: 0;
    margin-bottom: 0;
}

.form-check-input:hover {
    cursor: pointer;
}

.form-check-input {
    background-color: hsl(236, 72%, 79%);
    border-color: hsl(236, 72%, 79%);
    margin-top: 0;
}

.form-check-input:active {
    filter: opacity(70%);
}

.form-check-input:checked {
    background-color: hsl(236, 72%, 79%);
    border-color: hsl(236, 72%, 79%) ;
}

.form-check > .form-check-input {
    float: none;
    height: 1.4em;
    width: 2.2em;
}

.form-switch > .form-check-input:checked {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch > .form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    box-shadow: none;
}

.form-switch > .form-check-input:focus {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch > .form-check-input:active {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.primary-background {
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.white-text > li {
    color: white
}

.white-background {
    background-color: white;
    color: hsl(237, 63%, 64%)
}

h6 {
    font-weight: bold;
    color: hsl(232, 13%, 33%);
}

#cards {
    height: 75%;
    width: 75%;
    margin: auto;
    outline: solid 1px red;
}

.primary-card {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    box-shadow: -1px 4px 19px 1px rgba(163,168,240,0.23);
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }